USE [master]
GO
/****** Object:  Database [QL_TinTuc]    Script Date: 10/21/2025 8:11:13 PM ******/
CREATE DATABASE [QL_TinTuc]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QL_TinTuc', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\QL_TinTuc.mdf' , SIZE = 3136KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QL_TinTuc_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\QL_TinTuc_log.ldf' , SIZE = 784KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QL_TinTuc].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QL_TinTuc]
GO
/****** Object:  Table [dbo].[TheLoaiTin]    Script Date: 10/21/2025 8:11:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TheLoaiTin](
	[IDLoai] [int] NOT NULL,
	[TenTheLoai] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TinTuc]    Script Date: 10/21/2025 8:11:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TinTuc](
	[IDTin] [int] NOT NULL,
	[IDLoai] [int] NOT NULL,
	[Tieudetin] [nvarchar](100) NULL,
	[Noidungtin] [ntext] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDTin] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
ALTER TABLE [dbo].[TinTuc]  WITH CHECK ADD  CONSTRAINT [FK_TheLoai_TinTuc] FOREIGN KEY([IDLoai])
REFERENCES [dbo].[TheLoaiTin] ([IDLoai])
GO
ALTER TABLE [dbo].[TinTuc] CHECK CONSTRAINT [FK_TheLoai_TinTuc]
GO
USE [master]
GO
